body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    text-align: center;
    color: #4CAF50;
    margin-top: 50px;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

footer {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color: #777;
}

.upload-form {
    margin-top: 20px;
}

input[type="file"] {
    visibility: visible;
    position: relative; /* Ensure it's not hidden or positioned off-screen */
}

